{% trans_default_domain 'UserAdmin' %}

{% extends 'kookaburra.html.twig' %}

{% set module = {'baseURL': 'user_admin', 'crumbs': [{uri: 'user_admin__manage', name: 'People Admin'}], title: 'Manage Roles', domain: 'UserAdmin'} %}
{% set breadcrumbs = 'new' %}
{% set moduleName = 'UserAdmin' %}


{% block content %}
    <div>
        <button style="float: right;" title="{{ 'Add'|trans({}, 'messages') }}" type="button" onclick="window.open('{{ path('user_admin__role_add') }}','_self')"><span class="fas fa-plus-circle fa-fw fa-1-5x text-gray-700"/></button>
    </div>

    <section id="paginationContent" style="clear: both;"></section>
{% endblock content %}
