{% trans_default_domain 'UserAdmin' %}

{% extends 'kookaburra.html.twig' %}

{% set module = {'baseURL': 'user_admin', 'crumbs': [
    {uri: 'user_admin__manage', name: 'People Admin'},
    {uri: 'user_admin__family_manage', name: 'Manage Families'},
    {uri: 'user_admin__family_edit', uri_params: {family: family.id, tabName: 'Students'} , name: 'Edit Family'}
], title: 'Edit Adult', domain: 'UserAdmin'} %}
{% set breadcrumbs = 'new' %}
{% set moduleName = 'UserAdmin' %}


{% block content %}
    <div id="formContent"></div>
{% endblock content %}
